/* Utility class */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.container{
    width:80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* /Utility class */

/* Header class */
.nav_link{
    padding: 40px 0px 40px 0px;
}
.nav_link > a {
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
}
a:hover {
    color: hotpink;
  }
/* /Header class */

/* Main class */

    /* Photo.main class */
    .yoga_bg{
    height: 700px;
    background-image: url("../img/banner.jpg");
    background-size:cover;
    border-radius: 15px;
    position: relative;
    }
    .yoga_bg>.layover{
        height: 100%;
        width: 100%;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.3);
    }
    .lorem_yoga{
        position: absolute;
        top: 500px;
        left: 50px;
        width: 620px;
    }
    .lorem_yoga>span{
        display: block;
        color:white;
    }
    #span_title{
        font-weight: 400;
        font-size: 30px;
    }
    #span_description{
    font-weight: 300;
    }
    /* /Photo.main class */

    /* Tiitle.main class */
    .titlemain{
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }
    .titlemain span{
    position: absolute;
    top: 47px;
    font-size:17.5px;
    font-weight: 400;
    color: rgb(153, 153, 153);
    }
    /* Tiitle.main class */

    /* Column.main class */
    .column_main{
        height: 500px;
        width: 100%;
        margin-top: 2.5rem;
        border: 2px solid rgb(9, 29, 97);
    }

    .sidebar{
        height: 100%;
        width: 20%;
        border: 2px solid rgb(255, 81, 12);
        float: left;

    }
.contentmain{
    height: 100%;
    width: 60%;
    border: 2px solid rgb(106, 72, 230);
    float: left;

}
/* /Main class */

/* Footer class */
.footer_info{
    width: 100%;
    height: 80px;
    margin-top: 1rem;
    border: 2px solid rgb(103, 126, 0);
    padding-left: 45%;
    padding-top: 20px;
}
.design{
    width: 20%;
    height:50%;
    border: 2px solid cornflowerblue;
}
/* /Footer class */