/* Utility class */
*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}
.clearfix::after{
    content: "";
    clear:both;
    display: table;
}
.container{
    width:80%;
    margin: auto;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
}
/* invece di creare un div layover si poteva usare :before e dare un display block cui si dava un background color e si dava un nero leggermente sfocato tramite il color tab */
.layover{
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.2);
}
/* /Utility class */

/* Header class */
.nav_link{
    padding: 40px 0px 40px 0px;
}
.nav_link > a {
    padding-right: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: grey;
}
a:hover {
    color: hotpink;
}
/* /Header class */

/* Main class */

    /* Photo.main class */
    .yoga_bg{
        height: 700px;
        background-image: url("../img/banner.jpg");
        background-size:cover;
        background-position: center;
        border-radius: 15px;
        position: relative;
    }
    .lorem_yoga{
        position: absolute;
        top: 450px;
        left: 50px;
        width: 750px;
    }
    .lorem_yoga>span{
        display: block;
        color:white;
    }
    #span_title{
        font-weight: 400;
        font-size: 30px;
    }
    #span_description{
        font-weight: 300;
    }
    /* /Photo.main class */

    /* Title.main class */
    .titlemain{
        position: relative;
        width: 100%;
        margin-top: 1.5rem;
    }
    .titlemain span{
        position: absolute;
        top: 47px;
        font-size:17.5px;
        font-weight: 400;
        color: rgb(153, 153, 153);
    }
    /* /Title.main class */

    /* Column.main class */
    .column_main{
        width: 100%;
        margin-top: 2.5rem;
    }
    .sidebar{
        height: 100%;
        width: 25%;
        padding: 10px 5px 10px 0px;
        float: left;
    }
    .img_sbar{
        width: 100%;
        height: 250px;
        background-size: cover;
        background-position: center;
    }
    .img_sbar.left{
        /* si doveva usare object-fit:cover e adattare img in html a qualsiasi dimensione */
        background-image: url(../img/img-1.jpg);
    }
    .img_sbar.right{
        /* si doveva usare object-fit:cover e adattare img in html a qualsiasi dimensione */
        background-image: url(../img/img-3.jpg);
    }
    .contentmain{
        height: 100%;
        width: 50%;
        padding: 10px 10px 10px 5px;
        float: left;
    }
    .img_ctmain{
        /* si doveva usare object-fit:cover e adattare img in html a qualsiasi dimensione */
        width: 100%;
        height: 250px;
        background-image: url(../img/banner-2.jpg);
        background-size: cover;
        background-position: center;
    }
    .column_main p{
        color: grey;

    }
    h3{
        font-weight: 400;
        height: 50px;
        margin-top: 20px;
    }
    /* /Column.main class */

/* /Main class */

/* Footer class */
.footer_info{
    width: 100%;
    margin-top: 0.5rem;
    margin-bottom: 4rem;
    position: relative;
}
.f_design{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.icon-heart:before {
    content: '\2764';
    font-size: 25px;
    color: red;
}
/* /Footer class */
